CompileFlags:
  Add:
    - "-I/opt/homebrew/Cellar/raylib/5.5/include"
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wunused"
    - "-Wunused-variable"
    - "-Wunused-parameter"
    - "-Wunused-function"
    - "-Wshadow"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Skip
