CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/opt/homebrew/Cellar/sdl3/3.2.26/include
    - -I/opt/homebrew/Cellar/sdl3_image/3.2.4/include
    - -I/opt/homebrew/opt/glm/include

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Skip
